/*************
  Open Sans, loaded via Google Fonts. Replace below with your own @font-face or @import statements
*************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
font-family: “SMG”;
src: url(“assets/font/SMGSans-Regular.woff2”) format(‘woff2’);
}
